<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <title>Bookstore</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 th:text="#{books}">Books </h1>
    </div>
  </div>
  <a class="py-2 d-none d-md-inline-block" href="#">

    <select id="urlSelect"
            onchange="window.location = jQuery('#urlSelect option:selected').val();">
      <option><p th:text="#{language}"></p></option>
      <option value="/books?lang=en" th:text="#{switch-en}">English</option>
      <option value="/books?lang=it" th:text="#{switch-it}">Italian</option>
      <option value="/books?lang=es" th:text="#{switch-es}">Spanish</option>
    </select>
  </a>
  <div class="row">
    <div class="col-sm-12">
      <table class="table">
        <thead>
        <tr>
          <th th:text="#{title}"> Title</th>
          <th th:text="#{author}"> Author</th>
          <th th:text="#{publisher}"> Publisher</th>
          <th th:text="#{theme}"> Theme</th>
          <th th:text="#{price}"> Price</th>
          <th th:text="#{cover}"> Cover</th>
          <th th:text="#{language}"> Language</th>
          <th th:text="#{book-id}"> Book id</th>
          <th th:text="#{wishlist}"> Wishlist</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${books.empty}">
          <td colspan="2"> No Books Available</td>
        </tr>
        <tr th:each="book : ${books}">
          <td><span th:text="${book.getTitle()}"> Title </span></td>
          <td><span th:text="${book.getAuthorName()}"> Author </span></td>
          <td><span th:text="${book.getPublisherName()}"> Publisher </span></td>
          <td><span th:text="${book.getSubThemeName()}"> Theme </span></td>
          <td><span th:text="${book.getPrice()}"> Price </span></td>
          <td><span th:text="${book.getCoverType()}"> Cover </span></td>
          <td><span th:text="${book.getLanguageName()}"> Language </span></td>
          <td><span th:text="${book.getId()}"> id </span></td>
          <td><a class="btn btn-success" th:href="@{/wishlist/{id}/add(id=${book.getId()})}" th:text="#{add}"> Add </a></td>
        </tr>
        </tbody>
      </table>
      <div th:if="${bookPage.totalPages > 0}" class="pagination"
           th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/books/(
            pageSize=${bookPage.size},
            pageNumber=${pageNumber - 1},
            sortBy=${sortBy},
            sortDirection=${sortDirection},
            title=${title},
            publisherName=${publisherName},
            subThemeName=${subThemeName},
            authorName=${authorName})}"
           th:text=${pageNumber}
           th:class="${pageNumber==bookPage.number + 1} ? active"></a>
      </div>
    </div>
    <div class="col-md-8">
      <div sec:authorize="hasRole('ADMIN')">
        <a class="btn btn-success" href="#" th:href="@{/books/create}" th:text="#{add-books}">Add Books</a>
        <a class="btn btn-danger" href="#" th:href="@{/books/delete}" th:text="#{delete-books}"> Delete Books </a>
      </div>
      <a class="btn btn-warning" href="#" th:href="@{/wishlist}" th:text="#{my-wishlist}"> My Wishlist </a>
      <a class="btn btn-info" href="#" th:href="@{/logout}" th:text="#{logout}"> Logout </a>
      <div class="row">
        <div class="col-md-3">
          <h4 th:text="#{search}">Search</h4>
        </div>
      </div>
      <form th:method="GET" th:action="@{/books}">

        <div class="form-group col-md-6">
          <input type="text" class="form-control" th:placeholder="#{title}" id="title" name="title">
        </div>
        <div class="form-group col-md-6">
          <input type="text" class="form-control" th:placeholder="#{publisher}" id="publisherName"
                 name="publisherName">
        </div>
        <div class="form-group col-md-6">
          <input type="text" class="form-control" th:placeholder="#{theme}" id="subThemeName"
                 name="subThemeName">
        </div>
        <div class="form-group col-md-6">
          <input type="text" id="authorName" th:placeholder="#{author}" class="form-control"
                 name="authorName">
        </div>
        <div class="form-group col-md-6">
          <label for="sortBy" th:text="#{sort-by}">Sort by</label>
          <select class="form-control" id="sortBy" name="sortBy">
            <option value="title" th:text="#{title}">Title</option>
            <option value="author" th:text="#{author}">Author</option>
            <option value="subTheme" th:text="#{theme}">Theme</option>
            <option value="publisher" th:text="#{publisher}">Publisher</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="sortDirection" th:text="#{sort-direction}">Sort direction</label>
          <select class="form-control" id="sortDirection" name="sortDirection">
            <option>ASC</option>
            <option>DESC</option>
          </select>
        </div>
        <input type="submit" class="btn btn-primary" th:value="#{find}">
      </form>
    </div>
  </div>
</div>
</body>
</html>